[submodule "executor"]
	path = executor
	url = git@github.com:Skydipper/doc-executor.git
[submodule "orchestrator"]
	path = orchestrator
	url = git@github.com:Skydipper/doc-orchestrator.git
[submodule "writter"]
	path = writter
	url = git@github.com:Skydipper/doc-writter.git
